
{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='/static/login.css'>
<div id="nav-container" style="top: 0px;">
    <div class="name"><a href="/hello" target="_self">TuristGuiden</a></div>
    <div class="menu-list-right">
      <ul>
        <li><a href="/hello" target="_self" class=" current">hjem</a></li>
        <li><a href="https://itemize.no/om-itemize" target="_self">om oss</a></li>
        <li><a href="/register" target="_self">register</a></li>
        <li><a href="/login" target="_self">login</a></li>
      </ul>
    </div>
</div>
<div class="info">
    <h2>Info om TuristGuiden:</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit iste velit sed ducimus totam maxime eaque rem magnam minus, non cupiditate quo maiores voluptatem fugiat corrupti recusandae, distinctio eveniet.
    Eveniet odit quod tempore cumque necessitatibus, officia ipsam et perferendis, adipisci praesentium voluptatibus nam laborum. Saepe inventore, veritatis accusamus expedita modi voluptatum perspiciatis atque! Architecto magnam quidem rem nostrum necessitatibus.
    Ut reiciendis ad eligendi voluptatem dolorem recusandae enim sapiente saepe delectus illo maxime dolore molestiae quae laboriosam, quisquam animi nostrum? Temporibus quidem repellat et aspernatur. Dolorem, nesciunt! Eius, animi error.</p>
</div>
<div class="container1">
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">Område: Kristiansand og omegn</p>
        <p>Average rating: 5.2</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Ola Nordmann</h1>
        <p class="title">Område: Trondheim og omegn</p>
        <p>Average rating: 4.9</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Asoka Holm</h1>
        <p class="title">Område: Alta</p>
        <p>Average rating: 5.5</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">Område: Kristiansand og omegn</p>
        <p>Average rating: 5.2</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Ola Nordmann</h1>
        <p class="title">Område: Trondheim og omegn</p>
        <p>Average rating: 4.9</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Asoka Holm</h1>
        <p class="title">Område: Alta</p>
        <p>Average rating: 5.5</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">Område: Kristiansand og omegn</p>
        <p>Average rating: 5.2</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Ola Nordmann</h1>
        <p class="title">Område: Trondheim og omegn</p>
        <p>Average rating: 4.9</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
    <div class="card">
        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-3.jpg" alt="John" style="width:100%">
        <h1>Asoka Holm</h1>
        <p class="title">Område: Alta</p>
        <p>Average rating: 5.5</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Kontakt</button></p>
    </div>
</div>
<div class="footer" id="footer-container">
    <div class="footerContent">
      <div class="section" id="venstreSide">
        <h4>Åpningstider</h4>
        <div>
          <p>Torsdag kl 08:00-18:00</p>
          <p>Fredag kl 08:00-18:00</p>
          <p>Lørdag kl 08:00-18:00</p>
          <p>Søndag kl 08:00-18:00</p>
        </div>
      </div>
      <div class="section" id="hoyreSide">
        <h4>Itemize</h4>
        <div>
          <p>O.S. Bragstads plass 2A</p>
          <p>7034 TRONDHEIM</p>
          <p>hack@itemize.no</p>
          <p>+47 95 43 67 51</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}